* {
  margin: 0;
  padding: 0;
}

body {
  font-family: Lucida Console, Lucida Sans Typewriter, monospace;
}

iframe,
textarea {
  height: 48.5vh;
  position: relative;
  width: 99vw;
}

.info {
  position: absolute;
  top: 0;
  right: .6em;
}

a {
  text-decoration: none;
}
